<configuration>
    <appender name="unsorted" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %X - %msg%n</Pattern>
        </layout>
    </appender>

    <root level="info">
        <appender-ref ref="unsorted"/>
    </root>

    <logger name="org.apache.http.wire" level="info" additivity="false">
        <appender-ref ref="unsorted"/>
    </logger>

    <logger name="org.hibernate" level="debug" additivity="false">
        <appender-ref ref="unsorted"/>
    </logger>

    <logger name="org.hsqldb" level="debug" additivity="false">
        <appender-ref ref="unsorted"/>
    </logger>

    <appender name="http-client-debug" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{HH:mm:ss.SSS} [%thread] %msg%n</Pattern>
        </layout>
    </appender>
    <logger name="org.apache.http.impl.client.DefaultRequestDirector" level="debug" additivity="false">
        <appender-ref ref="http-client-debug"/>
    </logger>
</configuration>
